<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>123799112826-vb4gatjb8j5btt10dnlgsjj5h6chpij9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.123799112826-vb4gatjb8j5btt10dnlgsjj5h6chpij9</string>
	<key>API_KEY</key>
	<string>AIzaSyAbJbZ1lRV7dE7VP1iZSwW_Yzf-poSM52g</string>
	<key>GCM_SENDER_ID</key>
	<string>123799112826</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.internship.quizapp</string>
	<key>PROJECT_ID</key>
	<string>quizapp-1b5b4</string>
	<key>STORAGE_BUCKET</key>
	<string>quizapp-1b5b4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:123799112826:ios:50de2b3f5fca9fd02dbfc3</string>
</dict>
</plist>